<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="header">
        {% include 'header.j2' %}
    </div>
    <div id="toast" class="hidden">
        <div id="toast_close">&#215;</div>
        <div id="toast_text">toast text</div>
    </div>
    <div id="content">
        {% block content %}
        <div class="pure-g">
            <div class="pure-u-4-5">
                {% block left_column %}
                {% endblock %}
            </div>
            <div class="pure-u-1-5">
                {% block right_column %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>

    {% block scripts %}
    <script text="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% endblock %}
</body>
</html>