{% extends "base.j2" %}


{% block left_column %}

{% if intro %}
{% include "intro.j2" with context %}
{% endif %}

{% include "lbry_setup.j2" with context %}

{% include "workers.j2" with context %}

{% include "channels.j2" with context %}

{% include "videos.j2" with context %}

{% endblock %}



{% block right_column %}

{% endblock %}
