<div id="lbry_setup">
    <h2>LBRY setup</h2>
    {% if lbry_setup_steps %}
    <small><code>{{now}}</code></small>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Step</th>
                <th>Status</th>
                <th>Control</th>
            </tr>
        </thead>

        <tbody>
        {% set row_class = cycler('odd', 'even') %}
        {% for item in lbry_setup_steps %}
            <tr class="pure-table-{{ row_class.next() }}">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
                <td>
                    {% for action in item.actions %}
                    {% if action.xhr %}
                    {% set fn="execCmd" %}
                    {% else %}
                    {% set fn="nav" %}
                    {% endif %}
                    <button class="pure-button button-small{% if action.style %}
                    button-{{action.style}}{% endif %}" onclick="{{fn}}('{{action.uri}}')">
                        {{action.text}}
                    </button>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <i>
        waiting for update..
    </i>
    {% endif %}
</div>