{% extends "base.j2" %}


{% block left_column %}
<div id="sync_conf">
    <h1>Sync Config</h1>

    {% if error %}
    <div class="error">! {{error}}</div>
    {% endif %}

    {% if message %}
    <div class="success"><code>{{now}}</code> {{message}}</div>
    {% endif %}

    <hr />
    <p>
    Instructions..
    </p>

    <form action="/sync/config" method="post" class="pure-form">
        <label for="src_channel">
            YouTube Channel<br />
            <select name="src_channel">
                {% for channel in yt_channels %}
                <option value="{{channel.id}}">{{channel.name}} ({{channel.site}})</option>
                {% endfor %}
            </select>
        </label>
        <br />


        <label for="dest_channel">
            LBRY Channel<br />
            <select name="dest_channel">
                {% for channel in lb_channels %}
                <option value="{{channel.id}}">{{channel.name}} ({{channel.site}})</option>
                {% endfor %}
            </select>
        </label>
        <br />

        <label for="bid">
            Bid<br />
            <input type="text" name="bid" value="{{bid}}" placeholder="{{default_bid}}" />
        </label>
        <br />

        <label for="tags">
            Tags (comma separated)<br />
            <input type="text" name="tags" value="{{tags}}" /><br />
        </label>
        <br />

        <label for="language">
            Language<br />
            <select name="language">
                {% for lang in languages %}
                <option value="{{lang.id}}">{{lang.name}}</option>
                {% endfor %}
            </select>
        </label>
        <br />

        <label for="license">
            License<br />
            <select name="license">
                {% for license in licenses %}
                <option value="{{license.id}}">{{license.name}}</option>
                {% endfor %}
            </select>
        </label>
        <br />

        <button type="submit" class="pure-button">Submit</button>
    </form>
</div>
{% endblock %}



{% block right_column %}

{% endblock %}
