<div id="videos">
    <h2>Videos ({{vid_count}})</h2>
    <p>
        Page {{vid_page}} of {{vid_pages}}<br />
        <a href="javascript:(Page.turn('videos', 1))">First</a> |
        <a href="javascript:(Page.prev('videos', {{vid_page}}))">Prev</a> |
        <a href="javascript:(Page.next('videos', {{vid_page}}))">Next</a> |
        <a href="javascript:(Page.turn('videos', {{vid_pages}}))">Last</a>
    </p>
    {% if videos %}
    <small><code>{{now}}</code></small>
    <table class="pure-table">
        <thead>
            <tr>
                <th>
                    <a href="javascript:Page.sort('videos', 'id')">
                    Id
                    </a>
                </th>
                <th>
                    <a href="javascript:Page.sort('videos', 'site')">
                    Site
                    </a>
                </th>
                <th>
                    <a href="javascript:Page.sort('videos', 'channel')">
                    Channel
                    </a>
                </th>
                <th>
                    <a href="javascript:Page.sort('videos', 'title')">
                    Title
                    </a>
                </th>
                <th>
                    <a href="javascript:Page.sort('videos', 'state')">
                    State
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
        {% set row_class = cycler('odd', 'even') %}
        {% for item in videos %}
            <tr class="pure-table-{{ row_class.next() }}">
                <td>
                    {% if item.channel.site == "YOUTUBE" %}
                    <a href="https://youtu.be/{{item.id}}" target="{{item.id}}">{{item.id}}</a>
                    {% else %}
                    {{item.id}}
                    {% endif %}
                </td>
                <td>
                    {{item.channel.site}}
                </td>
                <td>
                    {{item.channel.name}}
                </td>
                <td>{{item.title}}</td>
                <td>{{item.state}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
    <i>
        No channels.
    </i>
    {% endif %}
</div>